.columns {
	width: 100%;
	display: flex;
	flex: 1;
}

.column {
	width: 100%;
	flex: 1;
	border: 1px solid black;
	text-align: center;
}

.column [sync] {
	margin-bottom: 1ex;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: red;
	border-bottom-style: dashed;
	text-indent: 0.5em;
	font-size: smaller;
}

.column > :not([sync]) { /* Unreliable to work in all browsers, but a graceful improvement */
	padding: 0 1em;
}

.column [sync=""] {
	visibility: hidden;
}
